<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'form-signin', :role => 'form'}) do |f| %>

  <%= devise_error_messages! %>

  <h2 class="form-signin-heading">Sign up</h2>

  <%= f.label :name, :class => 'sr-only' %>
  <%= f.text_field :name, autofocus: true, :class => 'form-control', :placeholder => 'Name' %>

  <%= f.label :password, :class => 'sr-only' %>
  <% if @validatable %>
    <%= f.password_field :password, autocomplete: "off", :class => 'form-control middle', :placeholder => "Password (#{@minimum_password_length} characters minimum)" %>
  <% else %>
    <%= f.password_field :password, autocomplete: "off", :class => 'form-control middle', :placeholder => 'Password' %>
  <% end %>

  <%= f.label :password_confirmation, :class => 'sr-only' %>
  <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control', :placeholder => 'Password confirmation' %>

  <div class="actions">
    <%= f.submit "Sign up", :class => 'btn btn-lg btn-primary btn-block' %>
  </div>

  <%= render "devise/shared/links" %>

<% end %>
